<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="center-block col-md-4 mt-5">
      <div class="jumbotron bg-light">
        <div class="row">
          <div class="center-block form-group" *ngIf="loginService.userData as user">
            <p class="text-center">Nos enviamos um e-mail de confirmação para <strong>{{user.email}}</strong>.</p>
            <hr>
            <p class="text-center text-danger">Por favor verifique seu e mail e click no link para concluir seu cadastro.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 form-group"  *ngIf="loginService.userData as user">
            <p class="text-center">Não rescebeu e-mail click em:</p>
            <button type="button" class="btn btn-dark bg-secondary" (click)="resentEmail(user.email)">Renvio de e-mail</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 form-group">
            <button type="button" class="btn btn-dark bg-secondary" routerLink="/login" (click)="reload()">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
