<p>home-admin works!</p>
<button (click)="logout()">sair</button>
<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <form class="form">
      <div class="row">
        <div class="col-xs-6 col-md-5 form-group">
            <label for="nome">Nome</label>
            <input class="form-control" id="nome" name="nome" placeholder="nome do usuário" type="text"/>
        </div>
        <div class="col-xs-6 col-md-4 form-group">
            <label for="cpf">CPF</label>
            <input class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" type="cpf"/>
        </div>
      </div>
    </form>
  </div>
</div>
