<div class="container-fluid">
  <div class="row">
      <nav class="navbar navbar-light bg-light col-md-12 border-bottom">
        <a class="navbar-brand my-2 px-3" id="logo" routerLink="home">Assinantes</a>
          <form class="form-inline my-2 my-lg-0">
            <div>
              <h5 id="userHome">{{userName}}</h5>
              <button type="button" class="btn btn-default btn-md-1" aria-label="Left Align" (click)="logout()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Sair
              </button>
            </div>
          </form>
      </nav>
      <hr>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <form class="form" (ngSubmit)="getDocumentSpecifc(searchCpf)">
      <br>
      <div class="row">
        <div class="col-xs-6 col-md-4 form-group">
            <input class="form-control" id="cpf" name="cpf"  [(ngModel)]="searchCpf" placeholder="Pesquisa por CPF" type="cpf"/>
        </div>
        <div class="col-xs-6 col-md-4 form-group">
          <button class="btn btn-dark bg-secondary" type="submit">Pesquisar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid ">
  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Data Assinatura</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Contract of ListContracts; let count = index">
              <th scope="row">{{count}}</th>
              <td>{{Contract.nameDoc}}</td>
              <td>{{Contract.nome}}</td>
              <td>{{Contract.cpf}}</td>
              <td>{{Contract.email}}</td>
              <td><button class="btn btn-dark bg-secondary" (click)="Download(Contract.uuid)">Download</button></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
