<div class="container-fluid">
  <div class="row">
      <nav class="navbar navbar-light bg-light col-md-12 border-bottom">
          <img src="../../assets/images/destrava.jpg" id="logo" class="img-rounded">
          <form class="form-inline my-2 my-lg-0">
            <div>
              <h5 id="userHome">{{userName}}</h5>
              <button type="button" class="btn btn-default btn-md-1" aria-label="Left Align" (click)="logout()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Sair
              </button>
            </div>
          </form>
      </nav>
      <hr>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <form class="form">
      <div class="row">
        <div class="col-xs-6 col-md-5 form-group">
            <label for="nome">Nome</label>
            <input class="form-control" id="nome" name="nome" placeholder="nome do usuário" type="text"/>
        </div>
        <div class="col-xs-6 col-md-4 form-group">
            <label for="cpf">CPF</label>
            <input class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" type="cpf"/>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid ">
  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Data Assinatura</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Contract of contract; let count = index">
              <th scope="row">{{count}}</th>
              <td>{{Contract.dtSignature}}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
