<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="center-block col-md-4 mt-5">
            <div class="jumbotron bg-light">
                <form (ngSubmit)="login()">
                  <a class="ml-md-5" id="logo">Assinantes</a>
                  <br><br>
                    <div class="form-group">
                        <label for="InputEmail">E-mail</label>
                        <input type="email" name="loginEmail"
                        required [(ngModel)]="loginEmail" class="form-control" id="exampleInputEmail1" placeholder="email@email.com.br">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Senha</label>
                        <input type="password" name="loginPassword"
                        required [(ngModel)]="loginPassword" class="form-control" id="exampleInputPassword1" placeholder="******">
                    </div>
                    <div class="form-group">
                      <a class="text-secondary" (click)="ResetPassword()">Esqueseu a Senha?</a>
                    </div>
                    <div class="form-group">
                        <a href="#" routerLink="/register" class="text-secondary">Cadastre-se aqui!</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark bg-secondary col-12"
                        [disabled]="!loginEmail || !loginPassword">Acessar</button>
                    </div>
                    <div class="form-group">
                        <p *ngIf="errorMessage.length > 0" class="text-danger">{{errorMessage}}</p>
                    </div>
                    <div class="form-group">
                        <p *ngIf="error.message.length > 0" class="text-danger">{{error.message}}</p>
                    </div>
                    <div class="form-group">
                      <p *ngIf="SuccessMessage.length > 0" class="text-success">{{SuccessMessage}}</p>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>



