<div id='signature-div'>
</div>

<!-- <br>
<div class="container-fluid border">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-4">
      <h3><strong>Termo de Responsabilidade</strong></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <p>Declaro estar ciente dos riscos envolvidos nas atividades práticas desta atividade e
        assumo a responsabilidade, durante a mesma, de seguir, obedecer e aplicar corretamente as
        técnicas e comandos ensinados pelos instrutores para minha total segurança e daqueles que
        comigo estiverem participando deste esporte, bem como utilizar de forma correta os
        equipamentos obrigatórios.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h5><strong>RISCOS DA PRÁTICA:</strong></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul>
        <li>Risco 1</li>
        <li>Risco 2</li>
        <li>Risco 3</li>
        <li>Risco 4</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <p>Desta forma, declaro verdadeiras as informações abaixo e eximo os instrutores e a
        empresa de qualquer eventualidade em decorrência do mau uso dos equipamentos ou da não
        observância aos comandos e instruções ministradas e da negligência quanto a segurança em
        qualquer acidente que possa ocorrer por minha culpa. O “Nome da Empresa“ não se
        responsabilizará por qualquer dano causado aos equipamentos pessoais levados para a prática
        da atividade.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <h5><strong>DADOS PESSOAIS:</strong></h5>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-4">
      <strong>Nome: </strong><u>Claudia Carolina Langer</u>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-3">
      <strong>CPF: </strong><u>025.188.650-63</u>
    </div>
    <div class="col-sm-3">
      <strong>RG: </strong><u>5.231.596-6</u>
    </div>
    <div class="col-sm-3">
      <strong>Telefone: </strong><u>(47)99265-4532</u>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-3">
      <strong>E-mail: </strong><u>claudia.langer@gmail.com</u>
    </div>
    <div class="col-sm-3">
      <strong>Data de Nascimento: </strong><u>18/06/1987</u>
    </div>
    <div class="col-sm-3">
      <strong>Idade: </strong><u>33</u>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-3">
      <strong>CEP: </strong><u>89233-600</u>
    </div>
    <div class="col-sm-3">
      <strong>Cidade: </strong><u>Joinville</u>
    </div>
    <div class="col-sm-3">
      <strong>Estado: </strong><u>Santa Catarina</u>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-3">
      <strong>Rua: </strong><u>Albano Shimit, 667</u>
    </div>
    <div class="col-sm-3">
      <strong>Número: </strong><u>667</u>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-4 col-md-3 form-group">
      <label for="sexo">Sexo</label>
      <select class="form-control"id="sexo" name="sexo">
          <option></option>
          <option>Masculino</option>
          <option>Feminino</option>
        </select>
    </div>
    <div class="col-xs-6 col-md-6 form-group">
      <label for="work">Profissão</label>
      <input class="form-control" id="work" name="work" placeholder="Trabalha com?"  type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-md-9 form-group">
      <label for="restrit">Restrições Médicas</label>
      <input class="form-control" id="restrit" name="restrit" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-4 col-md-3 form-group">
      <label for="bloodType">Tipo Sanguíneo</label>
      <select class="form-control"id="bloodType" name="bloodType">
          <option></option>
          <option>A+</option>
          <option>A-</option>
          <option>B+</option>
          <option>B-</option>
          <option>AB+</option>
          <option>AB-</option>
          <option>O+</option>
          <option>O-</option>
        </select>
    </div>
    <div class="col-xs-6 col-md-6 form-group">
      <label for="allergy">Alergias</label>
      <input class="form-control" id="allergy" name="allergy" placeholder="Poeira, medicamentos..."  type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-md-9">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-md-8 form-group">
      <label for="contact">Quem avisar em caso de emergência?</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-md-5 form-group">
      <label for="contact">Nome</label>
      <input class="form-control" id="contact" name="contact" type="text">
    </div>
    <div class="col-xs-6 col-md-4 form-group">
      <label for="Phone">Fone</label>
      <input class="form-control" id="Phone" name="Phone" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-md-2 form-group">
      <label for="date">Data</label>
      <p class="p-1">{{date}}</p>
    </div>
    <div class="col-xs-6 col-md-7 form-group">
      <label for="signature">Assinatura</label>
      <hr>
    </div>
  </div>
  <br><br>
</div> -->
