<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Termo de Responsabilidade</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <p>Sua segurança e diversão são nossas prioridades, mas em toda atividade de aventura
        existe um elemento de risco. Se você não se sentir muito confortável em participar, talvez a
        prática desta atividade não seja para você.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h5>RISCOS DA PRÁTICA:</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul>
        <li>Risco 1</li>
        <li>Risco 2</li>
        <li>Risco 3</li>
        <li>Risco 4</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <p>Declaro estar ciente dos riscos envolvidos nas atividades práticas desta atividade e
        assumo a responsabilidade, durante a mesma, de seguir, obedecer e aplicar corretamente as
        técnicas e comandos ensinados pelos instrutores para minha total segurança e daqueles que
        comigo estiverem participando deste esporte, bem como utilizar de forma correta os
        equipamentos obrigatórios.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <p>Desta forma, declaro verdadeiras as informações abaixo e eximo os instrutores e a
        empresa de qualquer eventualidade em decorrência do mau uso dos equipamentos ou da não
        observância aos comandos e instruções ministradas e da negligência quanto a segurança em
        qualquer acidente que possa ocorrer por minha culpa. O “Nome da Empresa“ não se
        responsabilizará por qualquer dano causado aos equipamentos pessoais levados para a prática
        da atividade.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <p>Nome: Claudia Carolina Langer</p>
    </div>
  </div>
</div>
