<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-light bg-light col-md-12 border-bottom">
            <a class="navbar-brand my-2 px-5" id="logo" routerLink="home">Assinantes</a>
            <form class="form-inline my-2 my-lg-0"  *ngFor="let registerUser of registerUsers;">
              <div *ngIf="registerUser.id == this.userId">
                <h5 id="userHome">{{registerUser.nome}}</h5>
              </div>
            </form>
        </nav>
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="bg-light border-right col-md-2 border-bottom rounded mt-1" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action bg-light text-center" (click)="signatureContract()">Assinar</a>
              <a class="list-group-item list-group-item-action bg-light text-center" (click)="dependent()">Dependente</a>
              <a class="list-group-item list-group-item-action bg-light text-center" (click)="userProfile()">Editar Perfil</a>
              <a href="#" class="list-group-item list-group-item-action bg-light text-center" (click)="logout()">Sair</a>
            </div>
        </div>
        <div *ngIf="createDependent && ! editProfile && ! signature" class="col-md-10">
            <app-dependent-user [lDependent]=createDependent [lEdit]=editProfile></app-dependent-user>
        </div>
        <div *ngIf="editProfile && ! createDependent && ! signature" class="col-md-10" createDependent="false">
            <app-user-profile [lDependent]=createDependent [lEdit]=editProfile></app-user-profile>
        </div>
        <div *ngIf="signature && ! createDependent && ! editProfile" class="col-md-10" createDependent="false">
          <app-contract-signature></app-contract-signature>
      </div>
    </div>
</div>


