<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-light bg-light col-md-12 border-bottom">
            <a class="navbar-brand" href="#">Assinantes</a>
            <form class="form-inline my-2 my-lg-0">
                <div *ngIf="userEmail.length > 0">
                    <h5>{{userEmail}}</h5>
                </div>
            </form>
        </nav>
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="bg-light border-right col-md-2 border-bottom rounded mt-1" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action bg-light text-center">Assinar</a>
              <a class="list-group-item list-group-item-action bg-light text-center" (click)="dependent()">Dependente</a>
              <a class="list-group-item list-group-item-action bg-light text-center" (click)="userProfile()">Editar Perfil</a>
              <a href="#" routerLink="/login" class="list-group-item list-group-item-action bg-light text-center">Sair</a>
            </div>
        </div>
        <div *ngIf="createDependent && ! editProfile" class="col-md-10">
            <app-dependent-user [lDependent]=createDependent [lEdit]=editProfile></app-dependent-user>
        </div>
        <div *ngIf="editProfile && ! createDependent" class="col-md-10" createDependent="false">
            <app-user-profile [lDependent]=createDependent [lEdit]=editProfile></app-user-profile>
        </div>
    </div>
</div>


