<div class="container-fluid">
    <div class="col-md-4"></div>
    <div class="mx-auto pt-3 col-md-8">
        <div class="jumbotron bg-light">
          <form id="contact" method="create" class="form" role="form" action="register-user.component.ts" (ngSubmit)="create(registerUser)">
            <div class="row">
              <div class="col-xs-6 col-md-3 form-group">
                  <label for="userCpf">CPF</label>
                  <input class="form-control" id="userCpf" name="CPF" required [(ngModel)]="registerUser.cpf" placeholder="000.000.000-00" type="text" />
              </div>
              <div class="col-xs-4 col-md-6 form-group">
                <label for="userNome">Nome Completo:</label>
                <input type="name" name="userNome" class="form-control" id="userNome" required [(ngModel)]="registerUser.nome" placeholder="Informe seu nome">
              </div>
              <div class="col-xs-4 col-md-3 form-group">
                  <label for="dtBirth">Data de Nascimeto</label>
                  <input class="form-control" id="dtBirth" name="dtBirth" type="date" required [(ngModel)]="registerUser.dtBirth"/>
              </div>
              <div class="col-xs-4 col-md-3 form-group">
                <label for="telefone">Telefone:</label>
                <input type="telefone" name="userTelefone" class="form-control" id="telefone" required [(ngModel)]="registerUser.telefone" placeholder="Informe seu telefone">
              </div>
              <div class="col-xs-4 col-md-6 form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="userEmail" class="form-control" id="email" required [(ngModel)]="registerUser.email" placeholder="Informe seu e-mail">
              </div>
              <div class="col-xs-4 col-md-3 form-group">
                <label for="cep">CEP:</label>
                <input type="cep" name="cep" class="form-control" id="cep" required [(ngModel)]="registerUser.cep" placeholder="00000-000">
              </div>
              <div class="col-xs-4 col-md-9 form-group">
                <label for="street">Endereço</label>
                <input class="form-control" id="street" name="street" required [(ngModel)]="registerUser.street" placeholder="Rua"  type="text">
              </div><!--fim control-group-->
              <div class="col-xs-4 col-md-3 form-group">
                  <label for="number">Número</label>
                  <input class="form-control" id="number" name="number" required [(ngModel)]="registerUser.number" placeholder="000"  type="text">
              </div>
            </div> <!-- fim row -->
            <div class="row">
                <div class="col-xs-6 col-md-9 form-group">
                    <label for="city">Cidade</label>
                    <input class="form-control" id="city" name="city" required [(ngModel)]="registerUser.city" placeholder="Cidade" type="text" />
                </div>
                <div class="col-xs-4 col-md-3 form-group">
                    <label for="state">Estado</label>
                    <select class="form-control"id="state" name="state" required [(ngModel)]="registerUser.state">
                        <option>AC</option>
                        <option>AL</option>
                        <option>AP</option>
                        <option>AM</option>
                        <option>BA</option>
                        <option>CE</option>
                        <option>DF</option>
                        <option>ES</option>
                        <option>GO</option>
                        <option>MA</option>
                        <option>MT</option>
                        <option>MS</option>
                        <option>MG</option>
                        <option>PA</option>
                        <option>PB</option>
                        <option>PR</option>
                        <option>PE</option>
                        <option>PI</option>
                        <option>RJ</option>
                        <option>RN</option>
                        <option>RS</option>
                        <option>RO</option>
                        <option>RR</option>
                        <option>SC</option>
                        <option>SP</option>
                        <option>SE</option>
                        <option>TO</option>
                    </select>
                </div>
            </div><!--fim Text input cidade e estado-->
            <div class="row">
              <div class="col-xs-4 col-md-3 form-group">
                <label for="password">Senha:</label>
                <input type="password" name="userPassword" class="form-control" id="password" required [(ngModel)]="password" placeholder="Insira uma senha.">
              </div>
              <div class="col-xs-4 col-md-3 form-group">
                <label for="check-password">Confirme a Senha:</label>
                <input type="password" class="form-control" name="userPasswordCheck" id="check-password" required [(ngModel)]="passwordCheck" placeholder="Repita a senha.">
              </div>
              <div class="col-xs-4 col-md-3 form-group">
                <br>
                <button type="submit"
                class="btn btn-dark bg-secondary m-2 col-12"
                [disabled]="!registerUser.cpf || !registerUser.nome || !registerUser.dtBirth || !registerUser.telefone || !registerUser.email ||
                            !registerUser.cep || !registerUser.street || !registerUser.number || !registerUser.city || !registerUser.state ||
                            !password || !passwordCheck"
                            title="Preencha todos os campos" >Criar Conta</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-10 form-group">
                  <p *ngIf="errorMessage.length > 0" class="text-danger">{{errorMessage}}</p>
              </div>
              <div class="col-xs-4 col-md-10 form-group">
                  <p *ngIf="SuccessMessage.length > 0" class="text-success">{{SuccessMessage}}</p>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
