<div class="container-fluid"  *ngIf="! loggedIn">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="center-block col-md-4">
            <div class="jumbotron bg-light">
                <form action="register-user.component.ts" (ngSubmit)="create()"> 
                    <div class="form-group">
                        <label for="firstName">Nome Completo:</label>
                        <input type="name" name="userNome" class="form-control" id="firstName" required [(ngModel)]="userNome" placeholder="Informe seu nome">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" name="userEmail" class="form-control" id="email" required [(ngModel)]="userEmail" placeholder="Informe seu e-mail">
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="telefone" name="userTelefone" class="form-control" id="telefone" required [(ngModel)]="userTelefone" placeholder="Informe seu telefone">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input type="password" name="userPassword" class="form-control" id="password" required [(ngModel)]="userPassword" placeholder="Insira uma senha.">
                    </div>
                    <div class="form-group">
                        <label for="check-password">Confirme a Senha:</label>
                        <input type="password" class="form-control" name="userPasswordCheck" id="check-password" required [(ngModel)]="userPasswordCheck" placeholder="Insira a senha novamente.">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark bg-secondary col-12" [disabled]="!userNome || !userEmail || !userTelefone || !userPassword || !userPasswordCheck">Criar Conta</button>
                    </div>
                    <div class="form-group">
                        <p *ngIf="errorMessage.length > 0" class="text-danger">{{errorMessage}}</p>
                    </div>
                    <div class="form-group">
                        <p *ngIf="SuccessMessage.length > 0" class="text-success">{{SuccessMessage}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--div *ngIf="loggedIn">
     [disabled]="!userNome || !userEmail || !userTelefone || !userPassword || !userPasswordCheck"
    <app-home-user></app-home-user>
</div-->