<div class="page-content inset">
    <div class="row">
      <div class="col-md-12">
      <br>
      <p class="well lead">Editar Perfil</p>
      <hr>
      <div class="container">
        <div class="row"> 
            <div class="col-sm-8 contact-form">
                <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-md-3 form-group">
                            <label for="inputCPF">CPF</label>
                            <input class="form-control" id="inputCPF" name="CPF" placeholder="000.000.000-00" type="text" readonly />
                        </div>
                        <div class="col-xs-4 col-md-9 form-group">
                            <label for="inputname">Nome</label>
                            <input class="form-control" id="inputname" name="nome" placeholder="Nome Completo" type="cpf" />
                        </div>
                        <div class="col-xs-6 col-md-3 form-group">
                            <label for="inputtelefone">Telefone</label>
                            <input class="form-control" id="inputtelefone" name="telefone" placeholder="Telefone" type="text" />
                        </div>
                        <div class="col-xs-4 col-md-3 form-group">
                            <label for="inputDtBirth">Data de Nascimeto</label>
                            <input class="form-control" id="inputDtBirth" name="Nascimento" type="date" />
                        </div>
                        <div class="col-xs-6 col-md-3 form-group">
                            <label for="inputtelefone">Telefone</label>
                            <input class="form-control" id="inputtelefone" name="telefone" placeholder="Telefone" type="text" />
                        </div>
                        <div class="col-xs-4 col-md-12 form-group">
                            <label for="inputemail">E-mail</label>
                            <input class="form-control" id="inputemail" name="email" placeholder="E-mail" type="text" />
                        </div>
                    </div> <!-- fim row -->
                    <!-- Text input endereco-->
                    <div class="row">
                        <div class="col-xs-6 col-md-8 form-group">
                            <label for="inputrua">Endereço</label>
                            <input class="form-control" id="inputrua" name="rua" placeholder="Rua"  type="text">
                        </div><!--fim control-group-->
                        <div class="col-xl-4 col-md-3 form-group">
                            <label for="inputnumero">Número</label>
                            <input class="form-control" id="inputnumero" name="numero" placeholder="000"  type="text">
                        </div>
                    </div>
                    <!-- Text input cidade e estado-->
                    <div class="row">
                        <div class="col-xs-6 col-md-9 form-group">
                            <label for="inputcidade">Cidade</label>
                            <input class="form-control" id="inputcidade" name="cidade" placeholder="Cidade" type="text" />
                        </div>
                        <div class="col-xs-4 col-md-3 form-group">
                            <label for="selectbasic">Estado</label>
                            <select class="form-control"id="selectbasic" name="selectestado" >
                                <option>Estado</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AP</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MT</option>
                                <option>MS</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>PI</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>
                        </div>
                    </div><!--fim Text input cidade e estado-->
                    <br />
                    
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Salvar</button>
                            <button class="btn btn-primary pull-right" type="submit">Limpar</button>
                            <!--<button class="btn btn-primary pull-right" type="submit">Enviar</button>-->
                        </div>
                    </div>
                </form>
            </div> <!-- fim div da direita -->
        </div> <!-- fim div da esquerda -->
  </div>
</div>